<!DOCTYPE html>
<html lang='en'>

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <main>
        <div class='mt-2 mb-2'>
            <h1>Hello, World!</h1>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>