<!-- As a heading 
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Donnegan Proposal Maker</span>
    </div>
</nav>-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <div class="navbar-brand">
      <img src="/assets/crane.svg" height="38" class="d-inline-block align-middle">
      <span class="d-inline-block align-middle">Donnegan Proposal Builder</span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/form">Form</a>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button type="button" id="load-json" class="ms-2 btn btn-warning">Load JSON</button>
    </div>
  </div>
</nav>
