<!-- Dynamic Investment Section -->
<h2 class="mt-4 mb-3">Investment</h2>
<div class="md-12 px-3 mb-2">
  <p><i class="bi bi-lightbulb-fill text-warning"></i> Tip:</p>
  <p>If you want to make a word <b>bold</b>: wrap your word like this <code>*word*</code>.</p>
  <p>If you want to make a word <i>italic</i>: wrap your word like this <code>_word_</code>.</p>
  <p>If you want to apply both <b>bold</b> and <i>italic</i>: wrap your word like this <code>_*word*_</code>.</p>
</div>
<div id="investment-section">
  <button type="button" class="btn btn-primary mb-3" onclick="addInvestSection()">Add Investment
    Section</button>
  <div id="investment-container" class="section-container"></div>
</div>
<div class="md-12 px-3 alert alert-warning alert-dismissible fade show">
  The <b>Generate PDF</b> button will not be active until you first generate your <b>JSON File</b>.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
