<!--TODO: Have to make multi steps, this is step 1, for images -->
<div class="row g-3">
  <div class="col-md-6 pe-5 border-end">
    <label for="img-category" class="form-label">Select Market</label>
    <select id="img-category" name="img-category" class="form-select">
      <option value="athletics">Athletics</option>
      <option value="business">Business</option>
      <option value="firedept">Fire Department</option>
      <option value="grow">Grow</option>
      <option value="healthcare">Healthcare</option>
      <option value="higheredu">Higher Edu</option>
      <option value="industrial">Industrial</option>
      <option value="military">Military</option>
      <option value="museum">Museum</option>
      <option value="publicsafety">Public Safety</option>
    </select> 

    <input type="hidden" name="imgpath" id="imgpath" />
    <div id="thumbnail-container" class="d-flex flex-wrap gap-2 mt-3"></div>
  </div>

  <div class="col-md-6 px-5">
    <div class="row">
      <div class="col-md-6">
        <label for="checkbox" class="form-label">Select Pages</label>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="quoteBool" name="quoteBool" checked />
          <label for="quoteBool" class="form-check-label">Include Quote Section</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="summaryBool" name="summaryBool" checked />
          <label for="summaryBool" class="form-check-label">Include Summary Section</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="equipBool" name="equipBool" checked />
          <label for="equipBool" class="form-check-label">Include Equipment Section</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="serviceBool" name="serviceBool" checked />
          <label for="serviceBool" class="form-check-label">Include Service Section</label>
        </div>
      </div>
      <div class="col-md-6">
        <label for="checkbox" class="form-label">Select Contracts</label>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="lumpBool" name="lumpBool" />
          <label for="lumpBool" class="form-check-label">Include Lump Sum</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="contracts form-check-input" id="off52" name="off52" />
          <label for="off52" class="form-check-label">OFF-52</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="contracts form-check-input" id="fac126" name="fac126" />
          <label for="fac126" class="form-check-label">FAC-126</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="contracts form-check-input" id="gsa71" name="gsa71" />
          <label for="gsa71" class="form-check-label">GSA-71</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="contracts form-check-input" id="gsa84" name="gsa84" />
          <label for="gsa84" class="form-check-label">GSA-84</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="contracts form-check-input" id="mhec" name="mhec" />
          <label for="mhec" class="form-check-label">MHEC</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="contracts form-check-input" id="ny" name="ny" />
          <label for="ny" class="form-check-label">NY STATE</label>
        </div>
      </div>
    </div>
  </div>
</div>
