<label for="zip" class="form-label">Zip</label>
<select id="zip" name="zip" class="form-select" disabled>
</select>
<!--<input type="text" id="zip" name="zip" class="form-control" placeholder="Zipcode..." required readonly />-->
